GestionDeStockI3M/Connected Services/LigneCommandeService/LigneCommandeServiceWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61056/LigneCommandeServiceWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" />
  <xs:element name="add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" minOccurs="0" name="ligne" nillable="true" type="q1:LigneCommande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>