GestionDeStockI3M/Connected Services/CommandeService/CommandeServiceWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61056/CommandeServiceWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" />
  <xs:element name="add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" minOccurs="0" name="commande" nillable="true" type="q1:Commande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="commandeEnCours">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="commandeEnCoursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" minOccurs="0" name="commandeEnCoursResult" nillable="true" type="q2:ArrayOfCommande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="commandeEnRetard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="commandeEnRetardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" minOccurs="0" name="commandeEnRetardResult" nillable="true" type="q3:ArrayOfCommande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="commandeConfirme">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="commandeConfirmeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" minOccurs="0" name="commandeConfirmeResult" nillable="true" type="q4:ArrayOfCommande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="prixCommande">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="prixCommandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prixCommandeResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="confirmeCommande">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="confirmeCommandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="confirmeCommandeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduitsOfCommande">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduitsOfCommandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" minOccurs="0" name="GetProduitsOfCommandeResult" nillable="true" type="q5:ArrayOfProduitCommande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>