GestionDeStockI3M/Connected Services/ProduitService/ProduitServiceWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProduitServiceWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61056/ProduitServiceWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61056/ProduitServiceWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61056/ProduitServiceWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProduitServiceWCF_findAll_InputMessage">
    <wsdl:part name="parameters" element="tns:findAll" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_findAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllResponse" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_find_InputMessage">
    <wsdl:part name="parameters" element="tns:find" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_find_OutputMessage">
    <wsdl:part name="parameters" element="tns:findResponse" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_add_InputMessage">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_add_OutputMessage">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_findByFournisseur_InputMessage">
    <wsdl:part name="parameters" element="tns:findByFournisseur" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_findByFournisseur_OutputMessage">
    <wsdl:part name="parameters" element="tns:findByFournisseurResponse" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_updateQuantite_InputMessage">
    <wsdl:part name="parameters" element="tns:updateQuantite" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_updateQuantite_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateQuantiteResponse" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_findAllFournisseur_InputMessage">
    <wsdl:part name="parameters" element="tns:findAllFournisseur" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_findAllFournisseur_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllFournisseurResponse" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_findFournisseurByName_InputMessage">
    <wsdl:part name="parameters" element="tns:findFournisseurByName" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_findFournisseurByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:findFournisseurByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_findProductsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:findProductsByName" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_findProductsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:findProductsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_findAvaibleProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:findAvaibleProducts" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_findAvaibleProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAvaibleProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_findProductsNotAvaible_InputMessage">
    <wsdl:part name="parameters" element="tns:findProductsNotAvaible" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_findProductsNotAvaible_OutputMessage">
    <wsdl:part name="parameters" element="tns:findProductsNotAvaibleResponse" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_findDestockedProduts_InputMessage">
    <wsdl:part name="parameters" element="tns:findDestockedProduts" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_findDestockedProduts_OutputMessage">
    <wsdl:part name="parameters" element="tns:findDestockedProdutsResponse" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_findProductsById_InputMessage">
    <wsdl:part name="parameters" element="tns:findProductsById" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_findProductsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:findProductsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_edit_InputMessage">
    <wsdl:part name="parameters" element="tns:edit" />
  </wsdl:message>
  <wsdl:message name="IProduitServiceWCF_edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:editResponse" />
  </wsdl:message>
  <wsdl:portType name="IProduitServiceWCF">
    <wsdl:operation name="findAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduitServiceWCF/findAll" message="tns:IProduitServiceWCF_findAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduitServiceWCF/findAllResponse" message="tns:IProduitServiceWCF_findAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduitServiceWCF/find" message="tns:IProduitServiceWCF_find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduitServiceWCF/findResponse" message="tns:IProduitServiceWCF_find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduitServiceWCF/add" message="tns:IProduitServiceWCF_add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduitServiceWCF/addResponse" message="tns:IProduitServiceWCF_add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findByFournisseur">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduitServiceWCF/findByFournisseur" message="tns:IProduitServiceWCF_findByFournisseur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduitServiceWCF/findByFournisseurResponse" message="tns:IProduitServiceWCF_findByFournisseur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateQuantite">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduitServiceWCF/updateQuantite" message="tns:IProduitServiceWCF_updateQuantite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduitServiceWCF/updateQuantiteResponse" message="tns:IProduitServiceWCF_updateQuantite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findAllFournisseur">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduitServiceWCF/findAllFournisseur" message="tns:IProduitServiceWCF_findAllFournisseur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduitServiceWCF/findAllFournisseurResponse" message="tns:IProduitServiceWCF_findAllFournisseur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findFournisseurByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduitServiceWCF/findFournisseurByName" message="tns:IProduitServiceWCF_findFournisseurByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduitServiceWCF/findFournisseurByNameResponse" message="tns:IProduitServiceWCF_findFournisseurByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findProductsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduitServiceWCF/findProductsByName" message="tns:IProduitServiceWCF_findProductsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduitServiceWCF/findProductsByNameResponse" message="tns:IProduitServiceWCF_findProductsByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findAvaibleProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduitServiceWCF/findAvaibleProducts" message="tns:IProduitServiceWCF_findAvaibleProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduitServiceWCF/findAvaibleProductsResponse" message="tns:IProduitServiceWCF_findAvaibleProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findProductsNotAvaible">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduitServiceWCF/findProductsNotAvaible" message="tns:IProduitServiceWCF_findProductsNotAvaible_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduitServiceWCF/findProductsNotAvaibleResponse" message="tns:IProduitServiceWCF_findProductsNotAvaible_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findDestockedProduts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduitServiceWCF/findDestockedProduts" message="tns:IProduitServiceWCF_findDestockedProduts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduitServiceWCF/findDestockedProdutsResponse" message="tns:IProduitServiceWCF_findDestockedProduts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduitServiceWCF/delete" message="tns:IProduitServiceWCF_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduitServiceWCF/deleteResponse" message="tns:IProduitServiceWCF_delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findProductsById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduitServiceWCF/findProductsById" message="tns:IProduitServiceWCF_findProductsById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduitServiceWCF/findProductsByIdResponse" message="tns:IProduitServiceWCF_findProductsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduitServiceWCF/edit" message="tns:IProduitServiceWCF_edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduitServiceWCF/editResponse" message="tns:IProduitServiceWCF_edit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProduitServiceWCF" type="tns:IProduitServiceWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findAll">
      <soap:operation soapAction="http://tempuri.org/IProduitServiceWCF/findAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap:operation soapAction="http://tempuri.org/IProduitServiceWCF/find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/IProduitServiceWCF/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByFournisseur">
      <soap:operation soapAction="http://tempuri.org/IProduitServiceWCF/findByFournisseur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateQuantite">
      <soap:operation soapAction="http://tempuri.org/IProduitServiceWCF/updateQuantite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllFournisseur">
      <soap:operation soapAction="http://tempuri.org/IProduitServiceWCF/findAllFournisseur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findFournisseurByName">
      <soap:operation soapAction="http://tempuri.org/IProduitServiceWCF/findFournisseurByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findProductsByName">
      <soap:operation soapAction="http://tempuri.org/IProduitServiceWCF/findProductsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAvaibleProducts">
      <soap:operation soapAction="http://tempuri.org/IProduitServiceWCF/findAvaibleProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findProductsNotAvaible">
      <soap:operation soapAction="http://tempuri.org/IProduitServiceWCF/findProductsNotAvaible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findDestockedProduts">
      <soap:operation soapAction="http://tempuri.org/IProduitServiceWCF/findDestockedProduts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/IProduitServiceWCF/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findProductsById">
      <soap:operation soapAction="http://tempuri.org/IProduitServiceWCF/findProductsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="edit">
      <soap:operation soapAction="http://tempuri.org/IProduitServiceWCF/edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProduitServiceWCF">
    <wsdl:port name="BasicHttpBinding_IProduitServiceWCF" binding="tns:BasicHttpBinding_IProduitServiceWCF">
      <soap:address location="http://localhost:61056/ProduitServiceWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>