GestionDeStockI3M/Connected Services/FournisseurService/FournisseurServiceWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61056/FournisseurServiceWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" />
  <xs:element name="add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" minOccurs="0" name="f" nillable="true" type="q1:Fournisseur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" minOccurs="0" name="findAllResult" nillable="true" type="q2:ArrayOfFournisseur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" minOccurs="0" name="findResult" nillable="true" type="q3:Fournisseur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="findNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="modifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" minOccurs="0" name="f" nillable="true" type="q4:Fournisseur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findNom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findNomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" minOccurs="0" name="findNomResult" nillable="true" type="q5:ArrayOfFournisseur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" minOccurs="0" name="findbyIdResult" nillable="true" type="q6:ArrayOfFournisseur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>