GestionDeStockI3M/Connected Services/VenteService/VenteServiceWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VenteServiceWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61056/VenteServiceWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61056/VenteServiceWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61056/VenteServiceWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVenteServiceWCF_add_InputMessage">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="IVenteServiceWCF_add_OutputMessage">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="IVenteServiceWCF_QtProduit_InputMessage">
    <wsdl:part name="parameters" element="tns:QtProduit" />
  </wsdl:message>
  <wsdl:message name="IVenteServiceWCF_QtProduit_OutputMessage">
    <wsdl:part name="parameters" element="tns:QtProduitResponse" />
  </wsdl:message>
  <wsdl:message name="IVenteServiceWCF_listeVente_InputMessage">
    <wsdl:part name="parameters" element="tns:listeVente" />
  </wsdl:message>
  <wsdl:message name="IVenteServiceWCF_listeVente_OutputMessage">
    <wsdl:part name="parameters" element="tns:listeVenteResponse" />
  </wsdl:message>
  <wsdl:message name="IVenteServiceWCF_find_InputMessage">
    <wsdl:part name="parameters" element="tns:find" />
  </wsdl:message>
  <wsdl:message name="IVenteServiceWCF_find_OutputMessage">
    <wsdl:part name="parameters" element="tns:findResponse" />
  </wsdl:message>
  <wsdl:message name="IVenteServiceWCF_nbVente_InputMessage">
    <wsdl:part name="parameters" element="tns:nbVente" />
  </wsdl:message>
  <wsdl:message name="IVenteServiceWCF_nbVente_OutputMessage">
    <wsdl:part name="parameters" element="tns:nbVenteResponse" />
  </wsdl:message>
  <wsdl:message name="IVenteServiceWCF_updateQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:updateQuantity" />
  </wsdl:message>
  <wsdl:message name="IVenteServiceWCF_updateQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateQuantityResponse" />
  </wsdl:message>
  <wsdl:portType name="IVenteServiceWCF">
    <wsdl:operation name="add">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenteServiceWCF/add" message="tns:IVenteServiceWCF_add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenteServiceWCF/addResponse" message="tns:IVenteServiceWCF_add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QtProduit">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenteServiceWCF/QtProduit" message="tns:IVenteServiceWCF_QtProduit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenteServiceWCF/QtProduitResponse" message="tns:IVenteServiceWCF_QtProduit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listeVente">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenteServiceWCF/listeVente" message="tns:IVenteServiceWCF_listeVente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenteServiceWCF/listeVenteResponse" message="tns:IVenteServiceWCF_listeVente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenteServiceWCF/find" message="tns:IVenteServiceWCF_find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenteServiceWCF/findResponse" message="tns:IVenteServiceWCF_find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="nbVente">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenteServiceWCF/nbVente" message="tns:IVenteServiceWCF_nbVente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenteServiceWCF/nbVenteResponse" message="tns:IVenteServiceWCF_nbVente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenteServiceWCF/updateQuantity" message="tns:IVenteServiceWCF_updateQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenteServiceWCF/updateQuantityResponse" message="tns:IVenteServiceWCF_updateQuantity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVenteServiceWCF" type="tns:IVenteServiceWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/IVenteServiceWCF/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QtProduit">
      <soap:operation soapAction="http://tempuri.org/IVenteServiceWCF/QtProduit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeVente">
      <soap:operation soapAction="http://tempuri.org/IVenteServiceWCF/listeVente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap:operation soapAction="http://tempuri.org/IVenteServiceWCF/find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nbVente">
      <soap:operation soapAction="http://tempuri.org/IVenteServiceWCF/nbVente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateQuantity">
      <soap:operation soapAction="http://tempuri.org/IVenteServiceWCF/updateQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VenteServiceWCF">
    <wsdl:port name="BasicHttpBinding_IVenteServiceWCF" binding="tns:BasicHttpBinding_IVenteServiceWCF">
      <soap:address location="http://localhost:61056/VenteServiceWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>