GestionDeStockI3M/Connected Services/DashboardService/DashboardServiceWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61056/DashboardServiceWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" />
  <xs:element name="nb_ventes_total">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="nb_ventes_totalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nb_ventes_totalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nb_ventes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nb_ventesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nb_ventesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="d" type="xs:dateTime" />
        <xs:element minOccurs="0" name="id_vente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gainResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gain1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="m" type="xs:int" />
        <xs:element minOccurs="0" name="id_vente" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gain1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gain1Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="prix_prod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="quantite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="prix_prodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prix_prodResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gain_tout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gain_toutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gain_toutResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="perte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="perteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="perteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" minOccurs="0" name="findAllResult" nillable="true" type="q1:ArrayOfVente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findByMounth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="m" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findByMounthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" minOccurs="0" name="findByMounthResult" nillable="true" type="q2:ArrayOfVente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findByYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findByYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" minOccurs="0" name="findByYearResult" nillable="true" type="q3:ArrayOfVente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findByDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findByDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" minOccurs="0" name="findByDayResult" nillable="true" type="q4:ArrayOfVente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findnow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findnowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GestionDeStockI3MServiceWCF" minOccurs="0" name="findnowResult" nillable="true" type="q5:ArrayOfVente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuantiteMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="m" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuantiteMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuantiteMonthResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nb_venteByMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="m" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nb_venteByMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nb_venteByMonthResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gain_month">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="m" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gain_monthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gain_monthResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nb_produit_des">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nb_produit_desResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nb_produit_desResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="qu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="d" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="quResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuantiteYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuantiteYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuantiteYearResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nb_venteByYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nb_venteByYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nb_venteByYearResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gain_year">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gain_yearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gain_yearResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="perte_year">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="perte_yearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="perte_yearResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuantityWeek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuantityWeekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuantityWeekResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="name_prod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="name_prodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name_prodResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nbr_achat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nbr_achatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nbr_achatResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="q_v_m">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="m" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="q_v_mResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="q_v_mResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="perte_mois">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="m" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="perte_moisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="perte_moisResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>